<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- package="com.blogspot.atifsotwares.namazapp_volleylibrary" -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SolatTimeFYP"
        tools:targetApi="31">
        <activity
            android:name=".markah2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PermainanMini2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".magrib2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".isyak2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".asar2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".zohor2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".subuh2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false">
            
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".asar"
            android:exported="false">
            
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".zohor"
            android:exported="false">
            
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".daftarNamaPerempuan"
            android:exported="false">
            

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".isyak"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            
        </activity>
        <activity
            android:name=".magrib"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

           
        </activity>
        <activity
            android:name=".menuUtamaPerempuan"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name=".HasilKuis"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

          
        </activity>
        <activity
            android:name=".menuUtama2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

                    </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".getLocation"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

                   </activity>
        <activity
            android:name=".subuh"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name=".MenuPermainanMini"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name=".daftarNama"
            android:exported="false"
            android:screenOrientation="landscape">
            
        </activity>
        <activity
            android:name=".pilihWatak"
            android:exported="false"
            android:screenOrientation="landscape">
            
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>